doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head // Блок для дополнительных заголовков (например, favicon)
  body
    block content // Основной контент страницы